*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #1e252b;
  color: #d2a148;

}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.logo {
  position: absolute;
  top: 25px;
  left:50%;
  transform: translate(-50%, 0);
  font-size: 1rem;
  font-weight: bold;
}

.heading {
  position:absolute;
  top:25%;
  left:50%;
  transform: translate(-50%, 0);
  width: 70%;
  font-size: 1rem;
  font-weight: normal;

}

.heading span{
  display: none;
}

.btn {
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 20%;
  margin: 1rem;
  color: #d2a148;
  background-color: inherit;
  border: 2px solid #d2a148;
  transition: 0.2s all;
}

.btn:hover {
  box-shadow: 0 0 20px #d2a148;
  cursor: pointer;
}

.value {
  font-size: 2.5rem;
  width: auto;
  margin: 1.5rem;
}

.action-container {
  position:absolute;
  top:85%;
  left:50%;
  width: 80%;
  max-width: 800px;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-around;
  list-style: none;

}

.action-button {
  background-color: inherit;
  color: #d2a148;
  border: none;
}
.action-button:hover {
  text-shadow: 0 0 20px #d2a148;
  cursor: pointer;
}

.list-container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  box-shadow: 0 0 20px #000;
  list-style: none;
  width: 60%;
  max-width: 600px;
  padding: 1rem 2rem;
}

.list-container li {
  margin: 1rem;
  display: flex;
  justify-content: space-between;

}
.list-container hr{
  opacity: 0.2;
}

.list-container hr:last-of-type{
  display: none;
}

@media only screen and (min-width: 600px) {
  .logo {
    font-size: 1.5rem;
    left: 10%;
  }

  .heading {
    font-size: 1.5rem;
  }

  .heading span {
    display: inline;
  }
  
  .value {
    font-size: 3rem;
  }
}
